<div class="col-md-5 pull-left">
  <div class="row m20">
    <h2>Bird Song!</h2>
    <h4>Available Actions</h4>
    <div class="btn-group" role="group" aria-label="actions">
      <button ng-disabled="move_b" ng-click="move_action()" class="btn btn-default">Move</button>
      <button ng-disabled="hide_b" ng-click="hide_action()" class="btn btn-default">Hide</button>
      <button ng-disabled="rest_b" ng-click="rest_action()" class="btn btn-default">Rest</button>
      <button ng-disabled="search_b" ng-click="search_action()" class="btn btn-default">Search</button>
    </div>
    <div class="mt10">
      <button ng-click="delete_action()" class="btn btn-danger btn-large">Delete</button>
      <button ng-click="submit_actions()" class="btn btn-success btn-large">Submit Actions</button>
    </div>
  </div>
  <div class="row m20">
    <h2>Actions Planed</h2>
    <div ng-repeat="action in action_queues" >
      <p>
        Action:{{$index + 1}} - {{action.action_name}} - Cleaing: {{action.clearing_id}}
        <span ng-if="action == 'move'"></span>
      </p>
    </div>
  </div>
  <br>
  <div class="row m20">
    <json-formatter json="player" open="1"></json-formatter>
  </div>
</div>
